<div class="card sticky top-0 left-0 right-0 z-100">
  <p-menubar [model]="items">
    <ng-template #start>
      <app-logo></app-logo>
    </ng-template>

    <ng-template #item let-item let-root="root">
      <a [routerLink]="item.link" class="flex items-center p-menubar-item-link">
        <span [class]="item.icon"></span>
        <span>{{ item.label }}</span>
      </a>
    </ng-template>

    <ng-template #end>
      <div class="flex items-center gap-2">
        @if (isLoggedIn) {
          <!--          PLACE HOLDER AVATAR           -->
          <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" shape="circle"/>
        } @else {
          <p-button-group>
            <p-button label="Login" icon="pi pi-sign-in" routerLink="/login"/>
            <p-button label="Sign Up" icon="pi pi-user-plus" severity="secondary" routerLink="/sign-in"/>
          </p-button-group>
        }
      </div>

    </ng-template>
  </p-menubar>
</div>
