<div class="flex lg:flex-row flex-col items-center content-center surface-section text-800"
     [class]="sectionInputs.class">
  <div class="flex-2/5 p-6 text-center md:text-left flex align-items-center ">
    <section>
      <span class="block text-6xl font-bold mb-1">{{ sectionInputs.title }}</span>
      <div class="text-6xl text-primary font-bold my-3">{{ sectionInputs.subTitle }}</div>
      <p class="mb-4 text-700 line-height-3">{{ sectionInputs.description }}</p>

      @if (sectionInputs.btnLabel) {
        <p-button [label]="sectionInputs.btnLabel" class="mr-3"
                  [severity]="getBtnSeverity(sectionInputs.btnSeverity)"></p-button>
      }
    </section>
  </div>
  <div class="flex-4 p-6">
    <div class="relative w-full mx-auto">
      <div
        [class]="'absolute inset-0 rounded-3xl bg-primary-50 ' + sectionInputs?.boxClass"></div>
      <div class="relative rounded-2xl overflow-hidden scale-80">
        <p-image
          [src]="sectionInputs.image"
          [alt]="sectionInputs.imageAlt"
          imageClass="w-full h-auto object-cover object-center rounded-2xl"
        />
      </div>
    </div>
  </div>
</div>
